@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-retail: var(--font-retail);
  --font-swear: var(--font-swear);
}

body {
  background: var(--background);
  color: var(--foreground);
}
